*{
    margin: 0;
    padding: 0;
    list-style: none;  
    text-decoration: none;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*  Nav */

nav {
    display: flex;
    background: rgb(187, 187, 187);
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2% 0px 2%;
    border-bottom: 2px solid black;
    
    position: fixed;
}
nav div a{
    display: flex;
    color: black;
    font-size: 20px;
    align-items: center;
}
nav div a i {
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 3px 5px 3px 5px;
  border: 3px solid black;
  margin-right: 5px;
  border-radius: 15px;
  background: rgb(30, 30, 78);
}
nav ul  {
    display: flex;
    padding-right: 5%;
}
nav ul li {
    padding: 20px;
}
nav ul li a {
    color: rgb(32, 32, 32);
}

/*  main */
main {
    display: flex;
   align-items: center;
    margin: 0 auto 0 auto;
    width: 1400px;
    height: 100vh;
    display: flex;
}
.cadastro{
    width: 600px;
    height: 700px;
    background: rgba(85, 85, 85, 0.295);
    margin: 0 10px 0 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
   
}
.cadastro h1 {
    padding: 20px;
    margin: 0 auto 0 auto;
}
.cadastro fieldset {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 30px 14px 60px 14px;
    border: none;
}
.cadastro button {
    width: 205px;
    height: 50px;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    background: rgb(93, 231, 93);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
}
.cadastro input{
    padding: 7px;
    font-size: 20px;
    width: 260px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
}
.cadastro select{
    padding: 5px;
    height:41px;
    font-size: 20px;
    border-radius: 8px;
    width: 275px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
}

.dados{
    width: 800px;
    height: 700px;
    background: rgba(85, 85, 85, 0.295);
    border: 2px solid black;
    border-radius: 20px;
}
.tableprincipal{
    border: 2px solid black;
    width: 97%;
    margin: 0 auto 0 auto;
    font-size: 15px;
}
.tableprincipal th{
    border: 2px solid black;
    text-align: center;
    color:white;
    background: black;
    font-size: 20px;
}
.tbody td{
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.pesquisalabel{
   font-size: 20px;
   margin: 20px 0 10px 0px;
   display: flex;
   margin-left: 20px;
   align-items: center;
}
.pesquisalabel input {
    font-size: 20px;
    width: 530px;
    padding: 8px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: bold;
    
}